@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Volkhov:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-y-scroll overflow-x-hidden;
  -ms-overflow-style: scrollbar;
}
body {
  @apply text-[#666];
  background: #fff;
  font: 400 12px/1.8 montserrat;
  -webkit-font-smoothing: antialiased;
}
